@charset "utf-8";
/* CSS Document */
#wallpaper{
	width:100%;
	overflow:hidden;
	background:#fff;
	}
.main{
	width:1280px;
	margin:auto;
	}
.header{
	height:115px;
	}
.header .logo{
	width:540px;
	height:96px;
	float:left;
	padding-top:25px;
	padding-left:5px;
	}
.topnav{
	height:24px;
	float:right;
	line-height:24px;
	margin-right:20px;
	margin-top:60px;
	}
.topnav span{
	margin-right:10px;
	vertical-align:middle;
	}
.topnav span img{
	margin-right:10px;
	vertical-align:middle;
	}
.login-area{
	width:310px;
	height:305px;
	background:rgba(0, 0, 0, 0.4);
	position:relative;
	left:65%;
	top:60px;
	z-index:99;
	}
.login-title{
	width:378px;
	height:28px;
	margin:auto;
	padding-top:24px;
	}
.login-form{
	width:240px;
	margin:auto;
	margin-top:23px;
	overflow:hidden;
	}
input{
	width:205px;
	height:28px;
	margin-left:30px;
	margin-top:3px;
	border:0;
	line-height:28px;
	vertical-align:middle;
	}
.user{
	width:238px;
	height:34px;
	border:1px solid #cccccc;
	margin-bottom:11px;
	background:url(images/user.png) no-repeat 5px center;
	}
.password{
	width:238px;
	height:34px;
	border:1px solid #cccccc;
	margin-bottom:5px;
	background:url(images/password.png) no-repeat 5px center;
	}
.yzm{
	width:238px;
	height:34px;
	border:1px solid #cccccc;
	margin-bottom:5px;
	background:url(../images/,DanaInfo=ids.ncepu.edu.cn+yzm.png) no-repeat 5px center;
	}
.tupian{
	width:238px;
	height:44px;
	text-align:right;
	vertical-align:middle;
    line-height:44px;
	color:#529eac;
	margin-bottom:10px;
	}
.tupian a{
	text-decoration:none;
	color:#529eac;
		}
.pic{
	width:190px;
	height:44px;
	float:left;
	margin-right:5px;
	background:#c0c0c0;
	}
.dl{
	width:239px;
	height:43px;
	margin:auto;
	}
.back{
	float:left;
	margin-top:6px;
	}
.footer{
	height:160px;
	background:#f9f9f9;
	}
.footer-top{
	height:50px;
	background:#f9f9f9;

}
.content-left{
	width:458px;
	height:67px;
	float:left;
	margin-top:10px;
	}
.content-left img{
	float:left;
	margin-right:20px;
	}
.content-left p{
	width:600px;
	margin:0;
	padding:0;
	text-align:left;
	line-height:23px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#404040;
	}
.red{color:#e7665a;}
.content-right{
	width:250px;
	height:38px;
	float:right;
	margin-top:48px;
	margin-right:160px;
	}
.content-right img{
	float:left;
	margin-right:15px;
	}
.content-right p{
	margin:0;
	padding:0;
	text-align:left;
	line-height:20px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#404040;
	}
.login-from-title{
	color: white;
    font-size: 19px;
    margin-left: 32px;
    padding-top: 23px;
}
.zhyx{
	color:#fff;
}
