*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
html{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
}
.content_left{
    width: 15%;
    height: 100%;
    position: fixed;
    background-color:rgb(0, 33, 64);
    float: left;
}
.content_right{
    width: 85%;
    height:100%;
    background-color: white;
    float: right;
}
.left_title{
    height: 50px;
    width: 100%;
}
.left_title>p{
    width: 100%;
    height: 50px;
    font-size:20px;
    line-height: 50px;
    text-align: center;
    color: white;
}
.seg{
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: 5px;
}
.nav{
    margin-top: 10px;
    margin-top: 5px;
}
.nav_title {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    
}
.nav_title a {
    font-size: 18px;
    width: 100%;
    height: 50px;
    color: white;
    text-decoration: none;
}
.nav_title a:hover{
    color:aliceblue;
}
.nav_content{
    width: 100%;
    height: 100%;
}
.nav_content>ul :hover{
    height: 30px;
    width: 100%;
    color:black;
    background-color:blue;
    
}
.nav_content li{
    height: 30px;    
    text-align: center;
    line-height: 30px;
}
.nav_content a{
    text-decoration: none;
    font-size: 15px;
    color:white;
}
.right_title{
    width: 100%;
    height: 50px;
}
.right_title p{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}
.info_title{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-left: 30px;
}
.info_content_left{
    width: 50%;
    height: 100%;
    float: left;
    /* background-color:gray; */
    /* position: fixed; */

}
.info_content_left li{
    height: 50px;
    text-align: center;
    line-height: 30px;
    list-style: none;
    margin-left: 10px;
}
.info_content_left a{
    text-decoration: none;
    color: black;
    
}
.info_content_right{
    width: 50%;
    height: 100%;
    float: right;
    /* background-color:blue; */

}
.info_content_right li{
    height: 50px;
    text-align: center;
    line-height: 30px;
    list-style: none;
    margin-right: 10px;
}
.info_content_right a{
    text-decoration: none;
    color: black;    
}
.content_right2{
    width: 85%;
    height: 100%;
    float: right;
    background-color:white;
}
/* .save1{
    width: 100%;
    margin-top: 10%; 
    height: 100%;
    background-color: wheat;

}*/
button{
    height: 30px;
    width: 60px;
    /* text-align: center; */
    margin-left: 45%;
    color: white;
    background-color: royalblue;
}
